{
  "openapi": "3.1.0",
  "info": {
    "title": "CalculationTime API",
    "version": "0.1.0",
    "description": "CalculationTime v1 API for time, date, holiday, geospatial, solar, astronomy, finance, payroll, statistics, tradie accounting, tenant account, admin, and webhook-management workflows."
  },
  "servers": [
    {
      "url": "https://api.calculationtime.com"
    },
    {
      "url": "http://127.0.0.1:4110"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Markdown API documentation",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/health": {
      "get": {
        "summary": "Low-level service health",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "OpenAPI contract for live routes",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/status": {
      "get": {
        "summary": "Public measured service status and endpoint inventory",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/time/utc": {
      "get": {
        "summary": "Current UTC timestamp and clock-model metadata",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/utility/tagline": {
      "get": {
        "summary": "Deterministic daily CalculationTime tagline",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/data/countries": {
      "get": {
        "summary": "Country reference table with capitals, ISO codes, dialing codes, and currencies",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/data/timezones": {
      "get": {
        "summary": "IANA timezone reference with current UTC offsets and DST status",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/data/elements": {
      "get": {
        "summary": "Periodic table reference values",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/data/constants": {
      "get": {
        "summary": "Physical and mathematical constants reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/data/materials/density": {
      "get": {
        "summary": "Common material density reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/data/http-status": {
      "get": {
        "summary": "HTTP status code directory",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/data/mime-types": {
      "get": {
        "summary": "MIME type and extension reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/data/unicode-blocks": {
      "get": {
        "summary": "Unicode block range reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/data/constellations": {
      "get": {
        "summary": "IAU constellation names, genitives, abbreviations, and quadrants",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/data/stars/bright": {
      "get": {
        "summary": "Bright star reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/data/meteor-showers": {
      "get": {
        "summary": "Major annual meteor shower reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/data/countries": {
      "get": {
        "summary": "Alias: country reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/data/timezones": {
      "get": {
        "summary": "Alias: IANA timezone reference",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/data/elements": {
      "get": {
        "summary": "Alias: periodic table reference values",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/data/constants": {
      "get": {
        "summary": "Alias: physical and mathematical constants",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/data/materials/density": {
      "get": {
        "summary": "Alias: common material density reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/data/http-status": {
      "get": {
        "summary": "Alias: HTTP status code directory",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/data/mime-types": {
      "get": {
        "summary": "Alias: MIME type and extension reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/data/unicode-blocks": {
      "get": {
        "summary": "Alias: Unicode block range reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/data/constellations": {
      "get": {
        "summary": "Alias: IAU constellation reference",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/data/stars/bright": {
      "get": {
        "summary": "Alias: bright star reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/data/meteor-showers": {
      "get": {
        "summary": "Alias: major annual meteor shower reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/time": {
      "get": {
        "summary": "Get local time for one coordinate",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/time/batch": {
      "post": {
        "summary": "Get local time for up to 100 coordinates",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "points": [
                  {
                    "lat": 48.137154,
                    "lon": 11.576124
                  }
                ],
                "at": "2026-07-29T12:00:00Z"
              }
            }
          }
        }
      }
    },
    "/v1/date/difference": {
      "get": {
        "summary": "Calendar day difference",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/date/difference/batch": {
      "post": {
        "summary": "Batch calendar day differences",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "ranges": [
                  {
                    "start": "2026-07-12",
                    "end": "2026-08-01"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/date/add": {
      "get": {
        "summary": "Add calendar units to a date",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "months",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "years",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/date/business-days": {
      "post": {
        "summary": "Business-day count with supplied holidays",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "start": "2026-07-13",
                "end": "2026-07-17",
                "holidays": [
                  "2026-07-15"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/date/business-days/jurisdiction": {
      "post": {
        "summary": "Business-day count for a supported jurisdiction",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "start": "2026-07-13",
                "end": "2026-07-17",
                "jurisdiction": "US"
              }
            }
          }
        }
      }
    },
    "/v1/date/business-days-add": {
      "post": {
        "summary": "Add or subtract configurable business days",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "start": "2026-07-13",
                "business_days": 10,
                "weekend_days": [
                  6,
                  7
                ],
                "holidays": [
                  "2026-07-20"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/date/iso-week": {
      "post": {
        "summary": "ISO week number, week-year, and weekday",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "date": "2026-01-01"
              }
            }
          }
        }
      }
    },
    "/v1/date/age-breakdown": {
      "post": {
        "summary": "Exact age duration breakdown from birth date to timestamp",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "birth_date": "1990-05-15",
                "as_of": "2026-09-21T00:00:00Z"
              }
            }
          }
        }
      }
    },
    "/v1/date/countdown-precise": {
      "post": {
        "summary": "Precise calendar delta between timestamps",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "start": "2026-09-21T00:00:00Z",
                "end": "2027-01-01T12:30:15Z"
              }
            }
          }
        }
      }
    },
    "/v1/date/epoch-converter": {
      "post": {
        "summary": "Unix epoch seconds or milliseconds to ISO/RFC strings",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "epoch": 1789941600,
                "unit": "seconds"
              }
            }
          }
        }
      }
    },
    "/v1/date/quarter-calculator": {
      "post": {
        "summary": "Calendar and fiscal quarter with progress percentage",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "date": "2026-09-21",
                "fiscal_start_month": 4
              }
            }
          }
        }
      }
    },
    "/v1/date/leap-year-check": {
      "post": {
        "summary": "Gregorian and Julian leap-year proof check",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "year": 2028
              }
            }
          }
        }
      }
    },
    "/v1/date/days-in-month": {
      "post": {
        "summary": "Days in a Gregorian month",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "year": 2028,
                "month": 2
              }
            }
          }
        }
      }
    },
    "/v1/date/timezone-offset": {
      "post": {
        "summary": "Fixed UTC offset conversion without DST lookup",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "timestamp": "2026-09-21T00:00:00Z",
                "offset": "+10:00"
              }
            }
          }
        }
      }
    },
    "/v1/date/calendar-range": {
      "post": {
        "summary": "Generate a deterministic date range with weekday and ISO week facts",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "start": "2026-09-21",
                "days": 14,
                "weekend_days": [
                  6,
                  7
                ]
              }
            }
          }
        }
      }
    },
    "/v1/holidays": {
      "get": {
        "summary": "Holidays for a jurisdiction and year",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/holidays/next": {
      "get": {
        "summary": "Next holiday for a jurisdiction",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/holidays/is-business-day": {
      "get": {
        "summary": "Business-day check for one date",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/geo/distance": {
      "get": {
        "summary": "Distance between two coordinates",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lat1",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon1",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat2",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon2",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/geo/distance/batch": {
      "post": {
        "summary": "Batch distance calculations",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "pairs": [
                  {
                    "from": {
                      "lat": 48.137154,
                      "lon": 11.576124
                    },
                    "to": {
                      "lat": 51.5072,
                      "lon": -0.1276
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/geo/midpoint": {
      "get": {
        "summary": "Midpoint between two coordinates",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lat1",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon1",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat2",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon2",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/geo/bounding-box": {
      "get": {
        "summary": "Bounding box around a coordinate",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius_km",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/geo/elevation": {
      "get": {
        "summary": "Elevation for one coordinate",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/geo/nearby": {
      "get": {
        "summary": "Nearby stored geo points",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius_km",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/solar/position": {
      "get": {
        "summary": "Solar position for date and coordinate",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/astronomy/ephemeris": {
      "get": {
        "summary": "Astronomy ephemeris for a date",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/astronomy/crux-midnight": {
      "post": {
        "summary": "Crux clock hand midnight sidereal positions from Parkes Observatory calibration",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 2,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "start_date": "2026-03-31",
                "days": 365,
                "timezone": "+10:00"
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/crux-hourly": {
      "post": {
        "summary": "Crux clock hand hourly sidereal breakdown for one local date",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 5,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "date": "2026-03-31",
                "timezone": "+10:00"
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/crux-current": {
      "post": {
        "summary": "Current Crux clock hand position and Parkes alignment delta",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 2,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "timestamp": "2026-04-01T00:00:00+10:00"
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/solar-noon": {
      "post": {
        "summary": "Solar transit/noon timestamp for a coordinate and date",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "date": "2026-06-21",
                "lat": 48.137154,
                "lon": 11.576124
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/equinox-solstice": {
      "post": {
        "summary": "Equinox and solstice timestamps for a year",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "year": 2026
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/moon-phase": {
      "post": {
        "summary": "Moon illumination, age, and phase name for a timestamp",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "timestamp": "2026-06-21T00:00:00Z"
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/julian-date": {
      "post": {
        "summary": "Gregorian timestamp to Julian Day and Modified Julian Date",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "timestamp": "2026-06-21T00:00:00Z"
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/sidereal-time": {
      "post": {
        "summary": "Greenwich and local sidereal time for a timestamp and longitude",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "timestamp": "2026-06-21T00:00:00Z",
                "lon": 11.576124
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/twilight-calculator": {
      "post": {
        "summary": "Civil, nautical, and astronomical twilight crossings",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "date": "2026-06-21",
                "lat": 48.137154,
                "lon": 11.576124
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/sun-position": {
      "post": {
        "summary": "Sun right ascension, declination, azimuth, and elevation",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "timestamp": "2026-06-21T12:00:00Z",
                "lat": 48.137154,
                "lon": 11.576124
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/moon-position": {
      "post": {
        "summary": "Moon right ascension, declination, azimuth, and elevation",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "timestamp": "2026-06-21T00:00:00Z",
                "lat": 48.137154,
                "lon": 11.576124
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/day-length": {
      "post": {
        "summary": "Daylight duration between sunrise and sunset",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "date": "2026-06-21",
                "lat": 48.137154,
                "lon": 11.576124
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/polar-night-check": {
      "post": {
        "summary": "Check midnight sun or polar night state for a latitude/date",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "date": "2026-06-21",
                "lat": 80,
                "lon": 0
              }
            }
          }
        }
      }
    },
    "/v1/finance/margin-markup": {
      "post": {
        "summary": "Gross margin, markup, selling price, and cost variance",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "cost": 80,
                "selling_price": 125,
                "actual_cost": 92
              }
            }
          }
        }
      }
    },
    "/v1/finance/loan-amortization": {
      "post": {
        "summary": "Fixed-rate loan amortization schedule",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 5,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "principal": 250000,
                "annual_interest_rate_percent": 6.25,
                "term_months": 360
              }
            }
          }
        }
      }
    },
    "/v1/finance/tax-extraction": {
      "post": {
        "summary": "Tax add-on and inclusive reverse extraction",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 2,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "amounts": [
                  {
                    "label": "VAT inclusive",
                    "amount": 120,
                    "tax_rate_percent": 20,
                    "mode": "inclusive"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/finance/freelancer-rate": {
      "post": {
        "summary": "Freelancer hourly and daily rate target",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 2,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "target_annual_income": 80000,
                "annual_expenses": 20000,
                "tax_overhead_percent": 25,
                "billable_weeks": 40,
                "billable_hours_per_week": 25
              }
            }
          }
        }
      }
    },
    "/v1/finance/simple-interest": {
      "post": {
        "summary": "Simple interest from principal, rate, and time",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "principal": 1000,
                "annual_rate_percent": 5,
                "years": 3
              }
            }
          }
        }
      }
    },
    "/v1/finance/compound-interest": {
      "post": {
        "summary": "Future value with compound interest frequency options",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "principal": 1000,
                "annual_rate_percent": 5,
                "years": 10,
                "compounds_per_year": 12
              }
            }
          }
        }
      }
    },
    "/v1/finance/loan-amortization-summary": {
      "post": {
        "summary": "Loan payment, total interest, and total cost summary",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "principal": 250000,
                "annual_interest_rate_percent": 6.25,
                "term_months": 360
              }
            }
          }
        }
      }
    },
    "/v1/finance/rule-of-72": {
      "post": {
        "summary": "Estimated investment doubling time using the rule of 72",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "annual_rate_percent": 6
              }
            }
          }
        }
      }
    },
    "/v1/finance/roi": {
      "post": {
        "summary": "Return on investment percentage from cost and net gain",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "cost": 1000,
                "net_gain": 250
              }
            }
          }
        }
      }
    },
    "/v1/finance/discount-calculator": {
      "post": {
        "summary": "Final price and savings from original price and discount rate",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "original_price": 120,
                "discount_percent": 15
              }
            }
          }
        }
      }
    },
    "/v1/finance/markup-margin": {
      "post": {
        "summary": "Convert between gross margin and markup percentages",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "margin_percent": 40
              }
            }
          }
        }
      }
    },
    "/v1/finance/break-even": {
      "post": {
        "summary": "Break-even units from fixed costs, variable cost, and price",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "fixed_costs": 10000,
                "price_per_unit": 50,
                "variable_cost_per_unit": 30
              }
            }
          }
        }
      }
    },
    "/v1/finance/salestax": {
      "post": {
        "summary": "Add or extract sales tax/GST from an amount and tax rate",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "amount": 120,
                "tax_rate_percent": 20,
                "mode": "inclusive"
              }
            }
          }
        }
      }
    },
    "/v1/finance/cagr": {
      "post": {
        "summary": "Compound annual growth rate from beginning value, ending value, and years",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "beginning_value": 1000,
                "ending_value": 1500,
                "years": 5
              }
            }
          }
        }
      }
    },
    "/v1/health/bmi": {
      "post": {
        "summary": "Body Mass Index and category classification",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "unit": "metric",
                "weight_kg": 70,
                "height_cm": 175
              }
            }
          }
        }
      }
    },
    "/v1/health/bmr": {
      "post": {
        "summary": "Basal Metabolic Rate using Mifflin-St Jeor",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "unit": "metric",
                "weight_kg": 70,
                "height_cm": 175,
                "age": 35,
                "sex": "male"
              }
            }
          }
        }
      }
    },
    "/v1/health/tdee": {
      "post": {
        "summary": "Total Daily Energy Expenditure from BMR and activity multiplier",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "unit": "metric",
                "weight_kg": 70,
                "height_cm": 175,
                "age": 35,
                "sex": "male",
                "activity_level": "moderate"
              }
            }
          }
        }
      }
    },
    "/v1/health/macro-split": {
      "post": {
        "summary": "Protein, carbs, and fat grams from calories and macro percentages",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "calories": 2000,
                "protein_percent": 30,
                "carbs_percent": 40,
                "fat_percent": 30
              }
            }
          }
        }
      }
    },
    "/v1/health/pace-calculator": {
      "post": {
        "summary": "Running or walking pace and speed from distance and duration",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "distance": 5,
                "unit": "km",
                "minutes": 25
              }
            }
          }
        }
      }
    },
    "/v1/math/quadratic-solver": {
      "post": {
        "summary": "Solve a quadratic equation with real or complex roots and vertex coordinates",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "a": 1,
                "b": -3,
                "c": 2
              }
            }
          }
        }
      }
    },
    "/v1/math/pythagorean-solve": {
      "post": {
        "summary": "Solve the missing side of a right triangle from any two sides",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "a": 3,
                "b": 4
              }
            }
          }
        }
      }
    },
    "/v1/math/triangle-heron": {
      "post": {
        "summary": "Triangle area, perimeter, and angles from three side lengths",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "a": 3,
                "b": 4,
                "c": 5
              }
            }
          }
        }
      }
    },
    "/v1/math/circle-geometry": {
      "post": {
        "summary": "Circle area, circumference, diameter, arc length, and sector area",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "radius": 10,
                "angle_degrees": 90
              }
            }
          }
        }
      }
    },
    "/v1/math/sphere-geometry": {
      "post": {
        "summary": "Sphere diameter, surface area, and volume from radius",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "radius": 3
              }
            }
          }
        }
      }
    },
    "/v1/math/cylinder-geometry": {
      "post": {
        "summary": "Cylinder base area, surface area, and volume from radius and height",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "radius": 3,
                "height": 10
              }
            }
          }
        }
      }
    },
    "/v1/math/statistics-summary": {
      "post": {
        "summary": "Mean, median, mode, variance, standard deviation, and IQR for numbers",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "values": [
                  1,
                  2,
                  2,
                  4,
                  9
                ]
              }
            }
          }
        }
      }
    },
    "/v1/math/percentage-change": {
      "post": {
        "summary": "Absolute and percentage change from baseline to current value",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "baseline": 80,
                "current": 100
              }
            }
          }
        }
      }
    },
    "/v1/math/percent-error": {
      "post": {
        "summary": "Absolute, relative, and percent error against an accepted true value",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "true_value": 100,
                "measured_value": 96
              }
            }
          }
        }
      }
    },
    "/v1/math/gcd-lcm": {
      "post": {
        "summary": "Greatest common divisor and least common multiple for integer sets",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "values": [
                  12,
                  18,
                  30
                ]
              }
            }
          }
        }
      }
    },
    "/v1/math/matrix-determinant": {
      "post": {
        "summary": "Determinants for 2x2 and 3x3 matrices",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
[...]
