{
  "openapi": "3.1.0",
  "info": {
    "title": "CalculationTime API",
    "version": "0.1.0",
    "description": "CalculationTime v1 API for time, date, holiday, geospatial, solar, astronomy, finance, payroll, statistics, tradie accounting, tenant account, and webhook-management workflows."
  },
  "servers": [
    {
      "url": "https://api.calculationtime.com"
    },
    {
      "url": "http://127.0.0.1:4110"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Markdown API documentation",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/beginner": {
      "get": {
        "summary": "Beginner-friendly first API call guide",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/learn": {
      "get": {
        "summary": "Kid-level clickable API learning ladder",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/learn/date-add-7": {
      "get": {
        "summary": "Learning demo: add 7 days to today",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/learn/date-add-30": {
      "get": {
        "summary": "Learning demo: add 30 days to today",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/learn/date-add-90": {
      "get": {
        "summary": "Learning demo: add 90 days to today",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/learn/next-saturday-business-day": {
      "get": {
        "summary": "Learning demo: check whether next Saturday is a business day",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/learn/random-id": {
      "get": {
        "summary": "Learning demo: generate a random UUID",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/health": {
      "get": {
        "summary": "Low-level service health",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "OpenAPI contract for live routes",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/status": {
      "get": {
        "summary": "Public measured service status and endpoint inventory",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/time/utc": {
      "get": {
        "summary": "Current UTC timestamp and clock-model metadata",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/utility/tagline": {
      "get": {
        "summary": "Deterministic daily CalculationTime tagline",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/data/countries": {
      "get": {
        "summary": "Country reference table with capitals, ISO codes, dialing codes, and currencies",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/data/timezones": {
      "get": {
        "summary": "IANA timezone reference with current UTC offsets and DST status",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/data/elements": {
      "get": {
        "summary": "Periodic table reference values",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/data/constants": {
      "get": {
        "summary": "Physical and mathematical constants reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/data/materials/density": {
      "get": {
        "summary": "Common material density reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/data/http-status": {
      "get": {
        "summary": "HTTP status code directory",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/data/mime-types": {
      "get": {
        "summary": "MIME type and extension reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/data/unicode-blocks": {
      "get": {
        "summary": "Unicode block range reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/data/constellations": {
      "get": {
        "summary": "IAU constellation names, genitives, abbreviations, and quadrants",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/data/stars/bright": {
      "get": {
        "summary": "Bright star reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/data/meteor-showers": {
      "get": {
        "summary": "Major annual meteor shower reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/data/countries": {
      "get": {
        "summary": "Alias: country reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/data/timezones": {
      "get": {
        "summary": "Alias: IANA timezone reference",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/data/elements": {
      "get": {
        "summary": "Alias: periodic table reference values",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/data/constants": {
      "get": {
        "summary": "Alias: physical and mathematical constants",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/data/materials/density": {
      "get": {
        "summary": "Alias: common material density reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/data/http-status": {
      "get": {
        "summary": "Alias: HTTP status code directory",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/data/mime-types": {
      "get": {
        "summary": "Alias: MIME type and extension reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/data/unicode-blocks": {
      "get": {
        "summary": "Alias: Unicode block range reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/data/constellations": {
      "get": {
        "summary": "Alias: IAU constellation reference",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/data/stars/bright": {
      "get": {
        "summary": "Alias: bright star reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/data/meteor-showers": {
      "get": {
        "summary": "Alias: major annual meteor shower reference table",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/time": {
      "get": {
        "summary": "Get local time for one coordinate",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/time/batch": {
      "post": {
        "summary": "Get local time for up to 100 coordinates",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "points": [
                  {
                    "lat": 48.137154,
                    "lon": 11.576124
                  }
                ],
                "at": "2026-07-29T12:00:00Z"
              }
            }
          }
        }
      }
    },
    "/v1/date/difference": {
      "get": {
        "summary": "Calendar day difference",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/date/difference/batch": {
      "post": {
        "summary": "Batch calendar day differences",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "ranges": [
                  {
                    "start": "2026-07-12",
                    "end": "2026-08-01"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/date/add": {
      "get": {
        "summary": "Add calendar units to a date",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "months",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "years",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/date/business-days": {
      "post": {
        "summary": "Business-day count with supplied holidays",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "start": "2026-07-13",
                "end": "2026-07-17",
                "holidays": [
                  "2026-07-15"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/date/business-days/jurisdiction": {
      "post": {
        "summary": "Business-day count for a supported jurisdiction",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "start": "2026-07-13",
                "end": "2026-07-17",
                "jurisdiction": "US"
              }
            }
          }
        }
      }
    },
    "/v1/date/business-days-add": {
      "post": {
        "summary": "Add or subtract configurable business days",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "start": "2026-07-13",
                "business_days": 10,
                "weekend_days": [
                  6,
                  7
                ],
                "holidays": [
                  "2026-07-20"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/date/iso-week": {
      "post": {
        "summary": "ISO week number, week-year, and weekday",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "date": "2026-01-01"
              }
            }
          }
        }
      }
    },
    "/v1/date/age-breakdown": {
      "post": {
        "summary": "Exact age duration breakdown from birth date to timestamp",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "birth_date": "1990-05-15",
                "as_of": "2026-09-21T00:00:00Z"
              }
            }
          }
        }
      }
    },
    "/v1/date/countdown-precise": {
      "post": {
        "summary": "Precise calendar delta between timestamps",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "start": "2026-09-21T00:00:00Z",
                "end": "2027-01-01T12:30:15Z"
              }
            }
          }
        }
      }
    },
    "/v1/date/epoch-converter": {
      "post": {
        "summary": "Unix epoch seconds or milliseconds to ISO/RFC strings",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "epoch": 1789941600,
                "unit": "seconds"
              }
            }
          }
        }
      }
    },
    "/v1/date/quarter-calculator": {
      "post": {
        "summary": "Calendar and fiscal quarter with progress percentage",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "date": "2026-09-21",
                "fiscal_start_month": 4
              }
            }
          }
        }
      }
    },
    "/v1/date/leap-year-check": {
      "post": {
        "summary": "Gregorian and Julian leap-year proof check",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "year": 2028
              }
            }
          }
        }
      }
    },
    "/v1/date/days-in-month": {
      "post": {
        "summary": "Days in a Gregorian month",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "year": 2028,
                "month": 2
              }
            }
          }
        }
      }
    },
    "/v1/date/timezone-offset": {
      "post": {
        "summary": "Fixed UTC offset conversion without DST lookup",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "timestamp": "2026-09-21T00:00:00Z",
                "offset": "+10:00"
              }
            }
          }
        }
      }
    },
    "/v1/date/calendar-range": {
      "post": {
        "summary": "Generate a deterministic date range with weekday and ISO week facts",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "start": "2026-09-21",
                "days": 14,
                "weekend_days": [
                  6,
                  7
                ]
              }
            }
          }
        }
      }
    },
    "/v1/holidays": {
      "get": {
        "summary": "Holidays for a jurisdiction and year",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/holidays/next": {
      "get": {
        "summary": "Next holiday for a jurisdiction",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/holidays/is-business-day": {
      "get": {
        "summary": "Business-day check for one date",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/api/v1/convert/length": {
      "post": {
        "summary": "Zero-cost length unit conversion",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "value": 1,
                "from": "mile",
                "to": "kilometer"
              }
            }
          }
        }
      }
    },
    "/api/v1/convert/weight": {
      "post": {
        "summary": "Zero-cost weight and mass unit conversion",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "value": 10,
                "from": "pound",
                "to": "kilogram"
              }
            }
          }
        }
      }
    },
    "/api/v1/convert/temperature": {
      "post": {
        "summary": "Temperature scale conversion",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "value": 32,
                "from": "fahrenheit",
                "to": "celsius"
              }
            }
          }
        }
      }
    },
    "/api/v1/convert/area": {
      "post": {
        "summary": "Area unit conversion",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "value": 1,
                "from": "acre",
                "to": "square_meter"
              }
            }
          }
        }
      }
    },
    "/api/v1/convert/volume": {
      "post": {
        "summary": "Volume unit conversion",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "value": 1,
                "from": "gallon",
                "to": "liter"
              }
            }
          }
        }
      }
    },
    "/api/v1/convert/speed": {
      "post": {
        "summary": "Speed unit conversion",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "value": 100,
                "from": "kmh",
                "to": "mph"
              }
            }
          }
        }
      }
    },
    "/api/v1/convert/pressure": {
      "post": {
        "summary": "Pressure unit conversion",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "value": 1,
                "from": "atmosphere",
                "to": "psi"
              }
            }
          }
        }
      }
    },
    "/api/v1/convert/energy": {
      "post": {
        "summary": "Energy unit conversion",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "value": 1,
                "from": "kilowatt_hour",
                "to": "joule"
              }
            }
          }
        }
      }
    },
    "/api/v1/convert/power": {
      "post": {
        "summary": "Power unit conversion",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "value": 1,
                "from": "horsepower",
                "to": "watt"
              }
            }
          }
        }
      }
    },
    "/api/v1/convert/data-storage": {
      "post": {
        "summary": "Data storage unit conversion",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "value": 1,
                "from": "gigabyte",
                "to": "megabyte"
              }
            }
          }
        }
      }
    },
    "/api/v1/crypto/hash-sha256": {
      "post": {
        "summary": "Compute SHA-256 hash for a small payload",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "text": "calculationtime"
              }
            }
          }
        }
      }
    },
    "/api/v1/crypto/hash-sha512": {
      "post": {
        "summary": "Compute SHA-512 hash for a small payload",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "text": "calculationtime"
              }
            }
          }
        }
      }
    },
    "/api/v1/crypto/base64-encode": {
      "post": {
        "summary": "Encode text to Base64",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "text": "calculationtime"
              }
            }
          }
        }
      }
    },
    "/api/v1/crypto/base64-decode": {
      "post": {
        "summary": "Decode Base64 text",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "base64": "Y2FsY3VsYXRpb250aW1l"
              }
            }
          }
        }
      }
    },
    "/api/v1/schedule/cron-parser": {
      "post": {
        "summary": "List upcoming UTC run timestamps for a 5-field cron expression",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "expression": "*/15 9-17 * * 1-5",
                "from": "2026-09-21T08:00:00Z",
                "count": 5
              }
            }
          }
        }
      }
    },
    "/api/v1/schedule/workday-shift": {
      "post": {
        "summary": "Shift a date by configurable working days",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "date": "2026-09-21",
                "days": 10,
                "weekend_days": [
                  6,
                  7
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/schedule/date-range-split": {
      "post": {
        "summary": "Split a date range into week, month, or quarter chunks",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "start": "2026-01-01",
                "end": "2026-03-31",
                "unit": "month"
              }
            }
          }
        }
      }
    },
    "/api/v1/schedule/interval-overlap": {
      "post": {
        "summary": "Calculate overlap between two timestamp intervals",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "a_start": "2026-09-21T09:00:00Z",
                "a_end": "2026-09-21T12:00:00Z",
                "b_start": "2026-09-21T11:00:00Z",
                "b_end": "2026-09-21T13:00:00Z"
              }
            }
          }
        }
      }
    },
    "/api/v1/schedule/project-timeline": {
      "post": {
        "summary": "Forward-pass project timeline and critical finish calculation",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "start": "2026-09-21",
                "tasks": [
                  {
                    "id": "design",
                    "duration_days": 3
                  },
                  {
                    "id": "build",
                    "duration_days": 5,
                    "dependencies": [
                      "design"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/schedule/shift-calculator": {
      "post": {
        "summary": "Calculate shift hours, overtime, and night differential hours",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "start": "2026-09-21T20:00:00Z",
                "end": "2026-09-22T06:00:00Z",
                "overtime_after_hours": 8
              }
            }
          }
        }
      }
    },
    "/api/v1/schedule/countdown-workdays": {
      "post": {
        "summary": "Count business days remaining until a deadline",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "start": "2026-09-21",
                "target": "2026-10-02",
                "weekend_days": [
                  6,
                  7
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/schedule/recurring-monthly": {
      "post": {
        "summary": "Generate nth-weekday monthly recurrence dates",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "year": 2026,
                "start_month": 1,
                "months": 3,
                "ordinal": 3,
                "weekday": "tuesday"
              }
            }
          }
        }
      }
    },
    "/api/v1/schedule/age-in-days": {
      "post": {
        "summary": "Calculate an exact age milestone date in days",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "birth_date": "1990-05-15",
                "days": 10000
              }
            }
          }
        }
      }
    },
    "/api/v1/schedule/time-blocks": {
      "post": {
        "summary": "Divide a 24-hour day into equal booking blocks",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "minutes": 30
              }
            }
          }
        }
      }
    },
    "/api/v1/color/hex-to-rgb": {
      "post": {
        "summary": "Convert HEX colour to RGB array",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "hex": "#336699"
              }
            }
          }
        }
      }
    },
    "/api/v1/color/rgb-to-hex": {
      "post": {
        "summary": "Convert RGB values to HEX colour",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "r": 51,
                "g": 102,
                "b": 153
              }
            }
          }
        }
      }
    },
    "/api/v1/color/rgb-to-hsl": {
      "post": {
        "summary": "Convert RGB colour to HSL",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "r": 51,
                "g": 102,
                "b": 153
              }
            }
          }
        }
      }
    },
    "/api/v1/color/hsl-to-rgb": {
      "post": {
        "summary": "Convert HSL colour to RGB and HEX",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "h": 210,
                "s": 50,
                "l": 40
              }
            }
          }
        }
      }
    },
    "/api/v1/color/contrast-ratio": {
      "post": {
        "summary": "Calculate WCAG contrast ratio between two colours",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "foreground": "#000000",
                "background": "#ffffff"
              }
            }
          }
        }
      }
    },
    "/api/v1/color/luminance": {
      "post": {
        "summary": "Calculate WCAG relative luminance for a colour",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "hex": "#336699"
              }
            }
          }
        }
      }
    },
    "/api/v1/color/tint-shade": {
      "post": {
        "summary": "Generate tint and shade palette steps from a base colour",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "hex": "#336699",
                "steps": 5
              }
            }
          }
        }
      }
    },
    "/api/v1/color/cmyk-conversion": {
      "post": {
        "summary": "Approximate CMYK values from RGB input",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "r": 51,
                "g": 102,
                "b": 153
              }
            }
          }
        }
      }
    },
    "/api/v1/typography/px-to-rem": {
      "post": {
        "summary": "Convert pixel values to rem units",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "px": 24,
                "base_px": 16
              }
            }
          }
        }
      }
    },
    "/api/v1/typography/line-height": {
      "post": {
        "summary": "Calculate proportional line height and type scale steps",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "font_size_px": 16,
                "ratio": 1.5,
                "steps": 5
              }
            }
          }
        }
      }
    },
    "/api/v1/network/ip-parse": {
      "post": {
        "summary": "Parse IPv4 or IPv6 address metadata",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "ip": "192.168.1.10"
              }
            }
          }
        }
      }
    },
    "/api/v1/network/cidr-range": {
      "post": {
        "summary": "Calculate IPv4 CIDR network, broadcast, and usable hosts",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "cidr": "192.168.1.0/24"
              }
            }
          }
        }
      }
    },
    "/api/v1/network/user-agent-parse": {
      "post": {
        "summary": "Extract browser, OS, and device class from a user-agent string",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 Chrome/120 Safari/537.36"
              }
            }
          }
        }
      }
    },
    "/api/v1/network/query-string-parse": {
      "post": {
        "summary": "Encode or decode URL query strings",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "mode": "decode",
                "query": "a=1&b=two"
              }
            }
          }
        }
      }
    },
    "/api/v1/network/slug-sanitize": {
      "post": {
        "summary": "Normalize arbitrary text into a URL-safe slug",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "text": "Café Invoice #42!"
              }
            }
          }
        }
      }
    },
    "/api/v1/network/port-lookup": {
      "post": {
        "summary": "Look up standard TCP/UDP port service names",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "port": 443
              }
            }
          }
        }
      }
    },
    "/api/v1/network/http-status-lookup": {
      "post": {
        "summary": "Look up HTTP status phrase and status class",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "code": 429
              }
            }
          }
        }
      }
    },
    "/api/v1/network/mime-lookup": {
      "post": {
        "summary": "Resolve file extension to MIME type",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "extension": "json"
              }
            }
          }
        }
      }
    },
    "/api/v1/network/uuid-v5": {
      "post": {
        "summary": "Generate deterministic name-based UUID v5",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "namespace": "6ba7b810-9dad-11d1-80b4-00c04fd430c8",
                "name": "calculationtime.com"
              }
            }
          }
        }
      }
    },
    "/api/v1/network/mac-format": {
      "post": {
        "summary": "Normalize and validate MAC address formatting",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "mac": "aabb.ccdd.eeff"
              }
            }
          }
        }
      }
    },
    "/api/v1/finance/npv": {
      "post": {
        "summary": "Calculate net present value for uneven cash flows",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "discount_rate_percent": 8,
                "cashflows": [
                  -1000,
                  400,
                  400,
                  400
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/finance/irr-approximation": {
      "post": {
        "summary": "Approximate internal rate of return from cash flows",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "cashflows": [
                  -1000,
                  400,
                  400,
                  400
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/finance/bond-yield": {
      "post": {
        "summary": "Calculate current yield and approximate yield to maturity",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "face_value": 1000,
                "price": 950,
                "coupon_rate_percent": 5,
                "years_to_maturity": 10
              }
            }
          }
        }
      }
    },
    "/api/v1/finance/depreciation-straight-line": {
      "post": {
        "summary": "Generate a straight-line depreciation schedule",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "cost": 10000,
                "salvage_value": 1000,
                "life_years": 5
              }
            }
          }
        }
      }
    },
    "/api/v1/finance/depreciation-declining": {
      "post": {
        "summary": "Generate a declining-balance depreciation schedule",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "cost": 10000,
                "salvage_value": 1000,
                "life_years": 5
              }
            }
          }
        }
      }
    },
    "/api/v1/finance/loan-payoff-extra": {
      "post": {
        "summary": "Calculate loan payoff impact from extra monthly principal",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "principal": 200000,
                "annual_rate_percent": 5,
                "monthly_payment": 1200,
                "extra_payment": 100
              }
            }
          }
        }
      }
    },
    "/api/v1/finance/effective-annual-rate": {
      "post": {
        "summary": "Convert nominal APR to effective annual rate",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
[...]
