{
  "openapi": "3.1.0",
  "info": {
    "title": "CalculationTime API",
    "version": "0.1.0",
    "description": "CalculationTime v1 API for time, date, holiday, geospatial, solar, astronomy, finance, payroll, statistics, tradie accounting, tenant account, admin, and webhook-management workflows."
  },
  "servers": [
    {
      "url": "https://api.calculationtime.com"
    },
    {
      "url": "http://127.0.0.1:4110"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Markdown API documentation",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/health": {
      "get": {
        "summary": "Low-level service health",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "OpenAPI contract for live routes",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/status": {
      "get": {
        "summary": "Public measured service status and endpoint inventory",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/time/utc": {
      "get": {
        "summary": "Current UTC timestamp and clock-model metadata",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/api/v1/utility/tagline": {
      "get": {
        "summary": "Deterministic daily CalculationTime tagline",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": []
      }
    },
    "/v1/time": {
      "get": {
        "summary": "Get local time for one coordinate",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/time/batch": {
      "post": {
        "summary": "Get local time for up to 100 coordinates",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "points": [
                  {
                    "lat": 48.137154,
                    "lon": 11.576124
                  }
                ],
                "at": "2026-07-29T12:00:00Z"
              }
            }
          }
        }
      }
    },
    "/v1/date/difference": {
      "get": {
        "summary": "Calendar day difference",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/date/difference/batch": {
      "post": {
        "summary": "Batch calendar day differences",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "ranges": [
                  {
                    "start": "2026-07-12",
                    "end": "2026-08-01"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/date/add": {
      "get": {
        "summary": "Add calendar units to a date",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "months",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "years",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/date/business-days": {
      "post": {
        "summary": "Business-day count with supplied holidays",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "start": "2026-07-13",
                "end": "2026-07-17",
                "holidays": [
                  "2026-07-15"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/date/business-days/jurisdiction": {
      "post": {
        "summary": "Business-day count for a supported jurisdiction",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "start": "2026-07-13",
                "end": "2026-07-17",
                "jurisdiction": "US"
              }
            }
          }
        }
      }
    },
    "/v1/date/business-days-add": {
      "post": {
        "summary": "Add or subtract configurable business days",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "start": "2026-07-13",
                "business_days": 10,
                "weekend_days": [
                  6,
                  7
                ],
                "holidays": [
                  "2026-07-20"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/date/iso-week": {
      "post": {
        "summary": "ISO week number, week-year, and weekday",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "date": "2026-01-01"
              }
            }
          }
        }
      }
    },
    "/v1/date/age-breakdown": {
      "post": {
        "summary": "Exact age duration breakdown from birth date to timestamp",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "birth_date": "1990-05-15",
                "as_of": "2026-09-21T00:00:00Z"
              }
            }
          }
        }
      }
    },
    "/v1/date/countdown-precise": {
      "post": {
        "summary": "Precise calendar delta between timestamps",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "start": "2026-09-21T00:00:00Z",
                "end": "2027-01-01T12:30:15Z"
              }
            }
          }
        }
      }
    },
    "/v1/date/epoch-converter": {
      "post": {
        "summary": "Unix epoch seconds or milliseconds to ISO/RFC strings",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "epoch": 1789941600,
                "unit": "seconds"
              }
            }
          }
        }
      }
    },
    "/v1/date/quarter-calculator": {
      "post": {
        "summary": "Calendar and fiscal quarter with progress percentage",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "date": "2026-09-21",
                "fiscal_start_month": 4
              }
            }
          }
        }
      }
    },
    "/v1/date/leap-year-check": {
      "post": {
        "summary": "Gregorian and Julian leap-year proof check",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "year": 2028
              }
            }
          }
        }
      }
    },
    "/v1/date/days-in-month": {
      "post": {
        "summary": "Days in a Gregorian month",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "year": 2028,
                "month": 2
              }
            }
          }
        }
      }
    },
    "/v1/date/timezone-offset": {
      "post": {
        "summary": "Fixed UTC offset conversion without DST lookup",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "timestamp": "2026-09-21T00:00:00Z",
                "offset": "+10:00"
              }
            }
          }
        }
      }
    },
    "/v1/date/calendar-range": {
      "post": {
        "summary": "Generate a deterministic date range with weekday and ISO week facts",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "start": "2026-09-21",
                "days": 14,
                "weekend_days": [
                  6,
                  7
                ]
              }
            }
          }
        }
      }
    },
    "/v1/holidays": {
      "get": {
        "summary": "Holidays for a jurisdiction and year",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/holidays/next": {
      "get": {
        "summary": "Next holiday for a jurisdiction",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/holidays/is-business-day": {
      "get": {
        "summary": "Business-day check for one date",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/geo/distance": {
      "get": {
        "summary": "Distance between two coordinates",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lat1",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon1",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat2",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon2",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/geo/distance/batch": {
      "post": {
        "summary": "Batch distance calculations",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "pairs": [
                  {
                    "from": {
                      "lat": 48.137154,
                      "lon": 11.576124
                    },
                    "to": {
                      "lat": 51.5072,
                      "lon": -0.1276
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/geo/midpoint": {
      "get": {
        "summary": "Midpoint between two coordinates",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lat1",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon1",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat2",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon2",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/geo/bounding-box": {
      "get": {
        "summary": "Bounding box around a coordinate",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius_km",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/geo/elevation": {
      "get": {
        "summary": "Elevation for one coordinate",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/geo/nearby": {
      "get": {
        "summary": "Nearby stored geo points",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius_km",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/solar/position": {
      "get": {
        "summary": "Solar position for date and coordinate",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/astronomy/ephemeris": {
      "get": {
        "summary": "Astronomy ephemeris for a date",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credit-cost": 1
      }
    },
    "/v1/astronomy/crux-midnight": {
      "post": {
        "summary": "Crux clock hand midnight sidereal positions from Parkes Observatory calibration",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 2,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "start_date": "2026-03-31",
                "days": 365,
                "timezone": "+10:00"
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/crux-hourly": {
      "post": {
        "summary": "Crux clock hand hourly sidereal breakdown for one local date",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 5,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "date": "2026-03-31",
                "timezone": "+10:00"
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/crux-current": {
      "post": {
        "summary": "Current Crux clock hand position and Parkes alignment delta",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 2,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "timestamp": "2026-04-01T00:00:00+10:00"
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/solar-noon": {
      "post": {
        "summary": "Solar transit/noon timestamp for a coordinate and date",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "date": "2026-06-21",
                "lat": 48.137154,
                "lon": 11.576124
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/equinox-solstice": {
      "post": {
        "summary": "Equinox and solstice timestamps for a year",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "year": 2026
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/moon-phase": {
      "post": {
        "summary": "Moon illumination, age, and phase name for a timestamp",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "timestamp": "2026-06-21T00:00:00Z"
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/julian-date": {
      "post": {
        "summary": "Gregorian timestamp to Julian Day and Modified Julian Date",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "timestamp": "2026-06-21T00:00:00Z"
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/sidereal-time": {
      "post": {
        "summary": "Greenwich and local sidereal time for a timestamp and longitude",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "timestamp": "2026-06-21T00:00:00Z",
                "lon": 11.576124
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/twilight-calculator": {
      "post": {
        "summary": "Civil, nautical, and astronomical twilight crossings",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "date": "2026-06-21",
                "lat": 48.137154,
                "lon": 11.576124
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/sun-position": {
      "post": {
        "summary": "Sun right ascension, declination, azimuth, and elevation",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "timestamp": "2026-06-21T12:00:00Z",
                "lat": 48.137154,
                "lon": 11.576124
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/moon-position": {
      "post": {
        "summary": "Moon right ascension, declination, azimuth, and elevation",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "timestamp": "2026-06-21T00:00:00Z",
                "lat": 48.137154,
                "lon": 11.576124
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/day-length": {
      "post": {
        "summary": "Daylight duration between sunrise and sunset",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "date": "2026-06-21",
                "lat": 48.137154,
                "lon": 11.576124
              }
            }
          }
        }
      }
    },
    "/v1/astronomy/polar-night-check": {
      "post": {
        "summary": "Check midnight sun or polar night state for a latitude/date",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "date": "2026-06-21",
                "lat": 80,
                "lon": 0
              }
            }
          }
        }
      }
    },
    "/v1/finance/margin-markup": {
      "post": {
        "summary": "Gross margin, markup, selling price, and cost variance",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "cost": 80,
                "selling_price": 125,
                "actual_cost": 92
              }
            }
          }
        }
      }
    },
    "/v1/finance/loan-amortization": {
      "post": {
        "summary": "Fixed-rate loan amortization schedule",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 5,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "principal": 250000,
                "annual_interest_rate_percent": 6.25,
                "term_months": 360
              }
            }
          }
        }
      }
    },
    "/v1/finance/tax-extraction": {
      "post": {
        "summary": "Tax add-on and inclusive reverse extraction",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 2,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "amounts": [
                  {
                    "label": "VAT inclusive",
                    "amount": 120,
                    "tax_rate_percent": 20,
                    "mode": "inclusive"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/finance/freelancer-rate": {
      "post": {
        "summary": "Freelancer hourly and daily rate target",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 2,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "target_annual_income": 80000,
                "annual_expenses": 20000,
                "tax_overhead_percent": 25,
                "billable_weeks": 40,
                "billable_hours_per_week": 25
              }
            }
          }
        }
      }
    },
    "/v1/stats/summary": {
      "post": {
        "summary": "Descriptive statistics for a numeric dataset",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 3,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "values": [
                  1,
                  2,
                  2,
                  4,
                  9
                ]
              }
            }
          }
        }
      }
    },
    "/v1/payroll/decimal-hours": {
      "post": {
        "summary": "Clock time to decimal hours and overtime conversion",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "hours": 1,
                "minutes": 30,
                "overtime_multiplier": 1.5
              }
            }
          }
        }
      }
    },
    "/v1/tradie/job-margin": {
      "post": {
        "summary": "Tradie job margin from labour, materials, subcontractors, overhead, and quote",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 2,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "labour_hours": 16,
                "labour_rate": 45,
                "materials_cost": 380,
                "subcontractor_cost": 250,
                "overhead_percent": 12,
                "quoted_price": 2200
              }
            }
          }
        }
      }
    },
    "/v1/tradie/vat-return-summary": {
      "post": {
        "summary": "Tradie VAT return summary from sales and purchases",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 3,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "sales": [
                  {
                    "amount": 1200,
                    "tax_rate_percent": 20,
                    "mode": "inclusive"
                  }
                ],
                "purchases": [
                  {
                    "amount": 300,
                    "tax_rate_percent": 20,
                    "mode": "exclusive"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/tradie/cis-deduction": {
      "post": {
        "summary": "UK CIS-style deduction model for labour and materials",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 2,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "gross_labour": 1000,
                "materials": 200,
                "deduction_rate_percent": 20
              }
            }
          }
        }
      }
    },
    "/v1/tradie/mileage-claim": {
      "post": {
        "summary": "Mileage claim and unreimbursed/reimbursed excess calculation",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "miles": 120,
                "rate_per_mile": 0.45,
                "reimbursed_amount": 20
              }
            }
          }
        }
      }
    },
    "/v1/tradie/tool-depreciation": {
      "post": {
        "summary": "Straight-line tool and equipment depreciation schedule",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 3,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "purchase_price": 1200,
                "salvage_value": 200,
                "useful_life_years": 5
              }
            }
          }
        }
      }
    },
    "/v1/tradie/invoice-aging": {
      "post": {
        "summary": "Receivables aging buckets for unpaid invoices",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-credit-cost": 3,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "as_of": "2026-09-19",
                "invoices": [
                  {
                    "invoice_id": "INV-1",
                    "due_date": "2026-08-01",
                    "amount": 400
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/canary": {
      "get": {
        "summary": "Protected monitoring canary for API-key path checks",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/account/profile": {
      "get": {
        "summary": "Authenticated customer profile",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/account/usage": {
      "get": {
        "summary": "Authenticated customer usage summary",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/account/limits": {
      "get": {
        "summary": "Authenticated customer plan and batch limits",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/account/credits": {
      "get": {
        "summary": "Authenticated customer credit balance",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/admin/customers": {
      "get": {
        "summary": "Admin customer list and usage summary",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "AdminKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_inactive",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "summary": "Admin create or update customer",
        "responses": {
          "201": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "AdminKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "customer_id": "taxserve-demo",
                "display_name": "Tax Serve Demo",
                "rate_limit_per_minute": 240,
                "status": "active"
              }
            }
          }
        }
      }
    },
    "/v1/admin/customers/{customer_id}": {
      "get": {
        "summary": "Admin customer detail",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "AdminKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/admin/customers/{customer_id}/credits": {
      "post": {
        "summary": "Admin append credit ledger event",
        "responses": {
          "201": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "AdminKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "delta": 1000000,
                "reason": "trial grant",
                "reference": "manual:onboarding",
                "metadata": {
                  "trial_ends_at": "2027-09-19T00:00:00.000Z"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Admin customer credit ledger",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "AdminKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/admin/customers/{customer_id}/webhooks": {
      "get": {
        "summary": "Admin list customer webhooks",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "AdminKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "Admin register or update customer webhook",
        "responses": {
          "201": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid request input"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "402": {
            "description": "API credit balance is exhausted"
          },
          "403": {
            "description": "Customer account is suspended or trial has expired"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "AdminKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "event_type": "calculation.heavy.completed",
                "destination_url": "https://integrator.example/webhooks/calculationtime",
                "status": "active"
              }
            }
          }
        }
      }
    },
    "/v1/observatory/share": {
      "post": {
        "summary": "Create private Observatory share token",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "poster": "moment",
                "date": "2026-08-01",
                "ttl_days": 7
              }
            }
          }
        }
      }
    },
    "/v1/observatory/share/{token}": {
      "get": {
        "summary": "Resolve private Observatory share token",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "AdminKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Admin-Key"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "x-webhooks": {
    "calculation.heavy.completed": {
      "description": "Optional tenant webhook fired after successful heavy billable calculations.",
      "eligible_routes": [
        "/v1/finance/loan-amortization",
        "/v1/finance/tax-extraction",
        "/v1/stats/summary",
        "/v1/tradie/vat-return-summary",
        "/v1/tradie/tool-depreciation",
        "/v1/tradie/invoice-aging"
      ],
      "payload_fields": [
        "event_id",
        "event_type",
        "event_group",
        "service",
        "api_version",
        "occurred_at",
        "customer_id",
        "route",
        "method",
        "status_code",
        "duration_ms",
        "credit_cost"
      ]
    }
  }
}
